:root {
  --primaryColor: #ff914d;
  --blur: rgba(176, 165, 165, 0.1);
  font-size: 16px;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
}

.headerColor {
  background-color: var(--primaryColor);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

footer {
  background-color: rebeccapurple;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: var(--blur);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  box-sizing: border-box;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  align-self: center;
}

h1 {
  align-content: center;
  margin-left: 10px;
  font-size: 1.5rem;
  color: white;
}

nav {
  align-content: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  align-content: center;
}

nav a {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-weight: 600;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.menu-toggle::before {
  content: "\2630"; /* Icono de hamburguesa */
  font-size: 2rem;
  color: white;
}

.menu-toggle.active::before {
  content: "\2715";
}

.home {
  height: 100vh;
  overflow: hidden;
}

.carousel {
  position: relative;
  right: 0;
  display: flex;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.cr {
  min-width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.cta-text {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cta-text h2 {
  width: 100%;
  color: white;
  font-size: 2.5rem;
  padding: 5px;
}

.cta-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--primaryColor);
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px gray;
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}

/* Estilos generales */
.project-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
}

/* Título del proyecto */
.project-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ff914d;
}

/* Contenedor del texto y las imágenes */
.project-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  gap: 30px;
}

/* Estilos del texto */
.project-text {
  text-align: justify;
  flex: 1;
  font-size: 1.3rem;
  line-height: 1.6;
  padding: 0 15px;
  max-width: 600px;
}

/* Estilos de las imágenes */
.project-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  flex: 1;
  max-width: 600px;
}

.project-images img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.nosotros {
  background: #ffe8c8;
  padding-top: 60px;
  width: 100%;
  height: auto;
}

.cardContainer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  flex: 1 1 calc(33.33% - 40px);
  background-color: rgb(255, 255, 255);
  margin: 10px;
  min-width: 250px;
  max-width: 300px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-10px); /* Eleva la tarjeta al pasar el cursor */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al hacer hover */
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card .ename {
  font-size: 1.2em;
  font-weight: bold;
  color: #333333;
  text-align: center;
  margin: 16px 0;
}

.card .edesc {
  font-size: 0.9em;
  color: #666666;
  padding: 0 16px;
  text-align: justify;
}

.card .verMas {
  display: block;
  margin: 20px auto 10px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #4caf50; /* Botón llamativo pero no agresivo */
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card .verMas:hover {
  background-color: #45a049; /* Cambia el color al hacer hover */
}

@media (width < 768px) {
  .menu-toggle {
    margin-left: auto;
    padding-right: 5px;
    display: block;
  }

  nav ul {
    display: none; /* Oculta el menú tradicional */
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--blur);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    flex-direction: column;
    text-align: center;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  }

  nav ul.show {
    display: flex; /* Muestra el menú cuando se active el hamburguesa */
  }

  nav ul li {
    padding: 10px 0;
  }

  .project-images {
    display: none;
  }
}
